* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto';
}
.rsp_wrapper {
  width: 100%;
  position: relative;
}
.rsp_inner {
  position: relative;
  width: 960px;
  margin: auto;
}
.fimg {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.fimg img {
  width: 100%;
}
.tab-wrapper .tab {
  display: none;
}
.tab-wrapper .tab.current {
  display: block;
}
.info-box .btn {
  min-width: 180px;
}
.btn {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  position: relative;
  outline: none;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 13px;
  cursor: pointer;
  text-align: center;
  color: #000;
  background-image: url(../img/btn_bg.png);
  background-repeat: repeat-x;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  behavior: url(/PIE.htc);
}
.btn span {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.btn:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/btn_shape.png) no-repeat;
  background-size: cover;
}
.btn:hover:after {
  background-image: url(../img/btn_hover_shape.png);
}
input[type=text] {
  height: 28px;
  line-height: 28px;
  text-indent: 10px;
  border: solid 1px #bcc0c4;
  border-bottom: solid 4px #bcc0c4;
  outline: none;
  font-size: 14px;
  color: #272727;
  font-style: normal;
  /* Firefox 19+ */
  /* Firefox 18- */
}
input[type=text]::-webkit-input-placeholder {
  color: #626c70;
  font-size: 12px;
  font-style: italic;
}
input[type=text]::-moz-placeholder {
  color: #626c70;
  font-size: 12px;
  font-style: italic;
}
input[type=text]:-moz-placeholder {
  color: #626c70;
  font-size: 12px;
  font-style: italic;
}
input[type=text]:-ms-input-placeholder {
  color: #626c70;
  font-size: 12px;
  font-style: italic;
}
input[type=text]:focus {
  border-color: #6c96a0 !important;
}
textarea {
  border: solid 1px #bcc0c4;
  outline: none;
  color: #626c70;
  font-size: 12px;
  font-style: italic;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: solid 4px #bcc0c4;
}
textarea:focus {
  border-color: #6c96a0 !important;
}
a {
  color: #477c88;
}
a:hover {
  color: #eb5367;
}
.tmargin_35 {
  margin-top: 35px;
}
.bmargin_35 {
  margin-bottom: 35px;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
